WB_SEARCH_URL=__WB_SEARCH_URL__

DEFAULT_QUERY=__DEFAULT_QUERY__
MAX_PAGES=1
REQUEST_DELAY=3

OUTPUT_DIR=output
FULL_CATALOG_FILENAME=catalog_full.xlsx
FILTERED_CATALOG_FILENAME=catalog_filtered.xlsx

FILTER_MIN_RATING=4.5
FILTER_MAX_PRICE=10000.0

# Headers
ACCEPT=__ACCEPT__
ACCEPT_LANGUAGE=__ACCEPT_LANGUAGE__
USER_AGENT=__USER_AGENT__
COOKIE=__COOKIE__
ORIGIN=__ORIGIN__
